/* First Section */

.home-first-section {
    width: 100%;
    height: 435px;
    background: url('../img/homepage-background.jpg') no-repeat center;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
}

.home-first-section:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(21, 103, 196, 0.7)), to(rgba(21, 105, 193, 0.1)));
    background: linear-gradient(to right, rgba(21, 103, 196, 0.7) 50%, rgba(21, 105, 193, 0.1));
    z-index: 1;
}

.home-first-section>div {
    z-index: 3;
}

.home-first-section .site-title {
    font-size: 3em;
    letter-spacing: 0.5px;
    line-height: 55px;
    font-weight: lighter;
    padding: 0 50px;
    max-width: 1000px;
    color: #ffffff;
    font-family: 'sourcesans-regular';
    /* text-shadow: 0px 1px 0px #283545; */
}

.home-first-section .site-description {
    font-size: 1em;
    letter-spacing: 0.5px;
}

.home-second-section {
    padding: 0;
    position: relative;
    z-index: 2;
    padding-bottom: 0;
}

.home-second-section .section-wrapper {
    text-align: center;
    font-size: 1.2em;
    background: #fff;
    border-radius: 3px;
    margin-top: 0;
    padding: 60px 40px;
    max-width: 1100px;
    /* -webkit-box-shadow: 0 0.1rem 0.1rem rgba(2, 2, 22, 0.1); */
    /* box-shadow: 0 0.1rem 0.1rem rgba(2, 2, 22, 0.1); */
}

.home-second-section .section-wrapper p {
    margin: 0;
}

.home-third-section {
    border-top: 1px solid #f4f4f4;
}

.home-third-section .section-wrapper {
    max-width: 1100px;
    width: 100%;
}

.recents-posts-section {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.recent-post-single {
    -webkit-box-flex: 0;
    -ms-flex: 1 1 300px;
    flex: 1 1 285px;
    width: 100%;
    margin: 8px;
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 0.1rem 0.2rem rgba(2, 2, 22, 0.1);
    box-shadow: 0 0.1rem 0.2rem rgba(2, 2, 22, 0.1);
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

.recent-post-single:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.recent-post-single .rp-image {
    width: 100%;
    height: 100px;
    background: #7e8aa0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.recent-post-single .rp-content {
    padding: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.recent-post-single .rp-content .date {
    text-transform: uppercase;
    font-size: 12px;
    color: #8391a6;
    margin-bottom: 5px;
    text-align: center;
}

.recent-post-single .rp-content .post-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    /* font-family: 'sourcesans-light'; */
}

.recent-post-single .rp-content .post-title a {
    color: #253858;
}

.recent-post-single .rp-content .post-title a:hover {
    color: #0c74ea;
}

.recent-post-single .rp-content .post-excerpt {
    font-size: 16px;
    color: #8391a6;
    letter-spacing: 0;
    font-weight: normal;
    padding: 10px 0 0;
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: 'sourcesans-light';
    font-weight: bold;
    text-align: center;
}

.recent-post-single .rp-learn-more {
    color: #1567c4;
    width: auto;
    font-size: 14px;
    -webkit-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    font-family: 'sourcesans-regular';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 20px;
}

.recent-post-single .rp-learn-more:hover {
    color: #0c74ea;
}


/* FAQ */

.faq-container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.faq-single {
    -webkit-box-flex: 0;
    -ms-flex: 1 1 400px;
    flex: 1 1 400px;
    padding: 15px 50px 15px 20px;
    margin: 5px;
    border-radius: 2px;
    border: 1px solid #eee;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faq-single .arrow {
    position: absolute;
    right: 0;
    top: 12px;
    margin: 0 12px 0 0;
    width: 25px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.faq-single .arrow svg {
    width: 15px;
    height: 100%;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.faq-single .arrow svg * {
    fill: #3d4959;
}

.faq-single .question {
    font-size: 17px;
    padding: 0;
}

.faq-single .answer {
    padding: 15px 0 0;
}

.faq-single .answer h4 {
    color: #8391a6;
    font-size: 16px;
    font-weight: bold;
    font-family: 'sourcesans-light';
}

.faq-single .answer h4 p {
    margin: 0;
}

.faq-single.visible .arrow svg {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

@media only screen and (max-width: 1280px) {
    .home-second-section .section-wrapper {
        max-width: 90%;
    }
}

@media only screen and (max-width: 1019px) {
    .home-first-section {
        height: 415px;
    }
    .home-first-section .site-title {
        font-size: 2.5em;
        line-height: 45px;
    }
}

@media only screen and (max-width: 767px) {
    .home-first-section {
        height: 265px;
        padding: 0;
    }
    .home-second-section {
        padding-bottom: 0;
    }
    .home-second-section .section-wrapper {
        max-width: 100%;
        margin: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 40px 25px;
    }
    .home-third-section {
        border-top: 0;
    }
    /* recents posts */
    .recent-post-single .rp-image {
        height: 125px;
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
    }
    .recent-post-single .rp-content .date {
        font-size: 12px;
    }
    .recent-post-single .rp-content .post-title {
        font-size: 18px;
    }
    /* faq */
    .faq-single .question {
        font-size: 15px;
    }
    .faq-single .answer h4 {
        font-size: 14px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .recent-post-single,
    .faq-single {
        margin: 5px 20px;
    }
    .faq-single {
        padding-right: 40px;
    }
}

@media only screen and (max-width: 480px) {
    .home-first-section {
        height: 235px;
    }
    .home-first-section .site-title {
        font-size: 1.6em;
        line-height: 32px;
        padding: 0 20px;
    }
    .recent-post-single .rp-content .post-title {
        font-size: 16px;
    }
    .recent-post-single .rp-content .post-excerpt,
    .recent-post-single .rp-learn-more {
        font-size: 14px;
    }
}